*.xml  -text  merge=text diff=text eol=crlf
*.xsd  -text  merge=text diff=text eol=crlf

*.ps1  text  merge=text diff=text eol=crlf
*.psd1 text  merge=text diff=text eol=crlf
*.psm1 text  merge=text diff=text eol=crlf

*.md   text  merge=text diff=text eol=crlf

*.json -text  merge=json diff=text eol=crlf
